// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

header {
    h1 {
        margin-right: 2rem;
    }

    a {
        cursor: pointer;
    }
}

main {
    .movie-card-wrapper {
        gap:1rem;
        justify-content: center;

        .card {
            img {
                padding: 1rem 0;
            }
        }
    }
}
